<% provide(:title,"Home")%>
<html>
<head>
	<title><%=yield(:title)%></title>
</head>

<body id="page-top" class="index">

    
  <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="cli-lg-12">
                <%= image_tag("photo_256x256.jpg", alt: "",class:"img-responsive")%>
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Algreg M. Mata</span>
                        <hr class="star-light">
                        <span class="skills">Web Developer - Foodie - Student</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Portfliio Grid Section -->
    <section id="portfliio">
        <div class="container">
            <div class="row">
                <div class="cli-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
              <div class="row">
                <div class="cli-lg-4 cli-lg-offset-2">
                    <p></p>
                </div>
                <div class="cli-lg-4">
                    <p>
                        I am an ordinary student, who wishes to graduate as early as possible, to be able to find a job, for an early retirement.
                    </p>
                    <p>
                        Yup! you've read it right. I already planned my career.
                    </p>
                    <p>
                        I was born on the seventeenth day in the month of August, on the year of the tiger,1998. I'm the second child in the family of 3 children that consist of 3 male and 2 female. Not to be boast and all, but I grew up having a "Middle class"'ed life. Humans as we are, we tend to aspire for more. Back then, poverty was never been a stranger to me. 
                    </p>
                    <p>
                        Having business minded parents, the influence of making a business has always been there. Some of the small businesses of mine were:
                    </p>
                        <ul>
                            <li>
                                Selling dried mangoes. (A collaboration between my younger brother and me.)
                            </li>
                            <li>
                                Loading business.
                            </li>
                            <li>
                                Selling the freshly harvested mangoes.
                            </li>
                            <li>
                                Selling the junk.
                            </li>
                        </ul>
                    <p>  
                        Most of which are now gone :(. But one day, a  striking line from a talk, which I don't remember,
                        said :
                    </p>

                    <h4>"No greater investment there is, but the investment on education."</h4>

                    <p>
                        Thenceforth, I used that line as a motivation, not only on school, but to almost everything that I'm doing. Because i beleive that education really is key, to life. It's simple, if you don't know, educate yourself. If your struggling, ask for help. Lucky for me, my parents can afford to send me to an University with such honor and prestige.
                    </p>
                    <p>
                        I believe that my course, Bachelor of Science in Information Technology, is an awesome program. Along with the  pay, finishing the course also offers great oppurtunities to work abroad ( if I may add, one of my dreams), be a boss or your own, and doesn't necessarily need physical and tiresome work.
                    <br>
                    </p>

                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
           <br>
                    <h3 align="center">
                        "I am now currently a BSIT-3 Student 
                    <br>
                        on the University of San Carlos.
                    <br>
                        Living in the humble city of Danao."
                    </h3>
                    <h6 align="right">-Algreg M. Mata-</h6>
        </div>
    </section>

</body>
</html>
<script>
     $( function() {
    $( "#progressbar" ).progressbar({
      value: 37
    });
  } );
</script>