 <% provide(:title,"Melecio - Barriga Information Clinic System")%>
 <!DOCTYPE html>
 <html>
 <head>
     <title></title>
 </head>
 <body>
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                        <br>
                        <br>
                        <br>
                        <%= image_tag "Clinic1.jpg", alt: "Melecio-Barriga Information Clinic System",class:"img-responsive image-centered img-proj" %>
                  
                            <h2 align="center">Melecio-Barriga Information Clinic System</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                            <p>
                                This is System is developed using Java. It was developed to aid the plead for innovation. My task was to make the back-end functionalities.
                            </p>
                            <br><br>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>
                                        Melecio-Barriga Clinic
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>
                                        April 2016
                                    </strong>
                                </li>
                            </ul>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>


 </body>
 </html>
 