 <% provide(:title,"Income Tax Return Generator")%>
 <!DOCTYPE html>
 <html>
 <head>
     <title></title>
 </head>
 <body>
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <%=  image_tag("16443211_1605772979439779_1067722742_n.png", alt: "Income Tax Return Generator",class:"img-responsive img-centered img-proj")%>
                            <h2 align="center">Income Tax Return Generator</h2>
                            <hr class="star-primary">
                            <p>
                                This Web Developed System was developed due to the IT139 course. It is  a system that generates/ calculates the Income Tax Return of a Business.
                            </p>
                            <br><br>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>
                                        March 2016
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>
                                        Web Development
                                    </strong>
                                </li>
                            </ul>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 </body>
 </html>