 <% provide(:title,"Ice Cream Game")%>
 <!DOCTYPE html>
 <html>
 <head>
     <title></title>
 </head>
 <body>
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                        <br><br>
                            <%=  image_tag("IceCreamGame.jpg", alt: "Ice Cream Game",class:"img-responsive img-centered img-proj")%>
                            <h2 align="center">Ice Cream Game</h2>
                            <hr class="star-primary">
                            <p>
                                 This is a Java built game. It aims to let the player have a glimpse of the stress and what it's like to be an Ice Cream Vendor.
                            </p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>
                                        The development of this game is still on going.
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </body>
 </html>